Email
: <img alt="My Email Address" style="margin-top:1ex;border-width:0" src="/images/other/cwl_email.jpg" />

Offices
: Comcast: Greenwood Village, Colorado and
: The CWL Zone: Twin Pines Ranch World Headquarters, Peyton, Colorado

[comment]:[Resume](/files/ChristopherWLehman.pdf){:target="_blank"} (PDF File)<span class="light"> A bit stale right now, try my LinkedIn site instead.</span>

<%= link_to '<img title="My GitHub Profile" alt="My GitHub Profile" style="margin-top:5ex;border-width:0;" width="60" height="60" src="/images/other/Octocat.jpg" />', " https://www.github.com/thecwlzone", target: "_blank" %>
<%= link_to '<img title="My LinkedIn Profile" alt="My LinkedIn Profile" style="margin-top:5ex;border-width:0;" width="60" height="60" src="/images/other/InBug-60px-R.png" />', "https://www.linkedin.com/in/christopherwlehman", target: "_blank" %>
<%= link_to '<img title="My Twitter Profile" alt="My Twitter Profile" style="margin-top:5ex;border-width:0;" width="60" height="60" src="/images/other/twitter-bird-white-on-blue.png" />', "https://twitter.com/thecwlzone", target: "_blank" %>
