!!! 5
%html{xmlns: "http://www.w3.org/1999/xhtml", :'xml:lang' => info(:site_lang), lang: info(:site_lang)}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "author", content: info(:author)}
    %meta{name: "description", content: info(:description)}
    %meta{name: "keywords", content: info(:keywords)}
    %meta{name: "generator", content: "nanoc — http://nanoc.stoneship.org"}
    %link{rel: "icon", type: "image/png", href: "/images/icon.png"}
    %link{rel: "stylesheet", href: "/stylesheets/screen.css", media: "screen"}

  %body

    #pagetop.hide<
      %p Skip to: <a href="#menu" accesskey="2">Site menu</a> | <a href="#main" accesskey="3">Main content</a>

    #container

      #main
        = yield
        = clear
      = clear

    #pagebottom<
      = render "/partials/footer.*"

    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %script{src: "/scripts/footnotes.min.js"}

